.cart-dropdown {
    background: #f5f2ee;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    height: 700px;
    justify-content: space-between;
    position: absolute;
    right: 0;
    top: 100%;
    padding: 24px;
    width: 600px;
    z-index: 1000;
}


h3,p {
    padding: 0;
    margin: 0;
}

@media (max-width: 767px) {
    .cart-dropdown {
        height: 600px;
        padding: 10px;
        width: 100vw !important;
        border-right: 0px;
        border-left: 0px;
    }
}

@media (max-width: 1440px) {
    .cart-dropdown {
        width: 450px;
    }
}

.cart-dropdown ul {
    list-style: none;
    padding: 10px;
    margin: 0;
}

.cart-dropdown ul li {
    padding: 8px 10px;
    border-bottom: 1px solid #ddd;
}

.cart-dropdown ul li:last-child {
    border-bottom: none;
}

.cart-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.cart-header h3 {
    font-family: Editorialnew, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -.64px;
    line-height: 36px;
}

.cart-px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.cart-empty {
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.cart-empty h2 {
    font-family: Editorialnew, sans-serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -1.2px;
    line-height: 68px;
}

.cart-empty p {
    color: #000;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -.4px;
    line-height: 28px;
}

.cart-list {
    flex-grow: 1;
    max-height: 540px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    scrollbar-color: rgba(0, 0, 0, .3) transparent;
    scrollbar-width: thin;
}

.cart-item {
    align-items: center;
    display: flex;
    gap: 10px;
}

.cart-list-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.cart-gap-4 {
    gap: 1rem;
}

.cart-justify-evenly {
    justify-content: space-evenly;
}

.cart-mt-7 {
    margin-top: 1.75rem;
}

.cart-image-wrapper {
    display: contents;
    height: 150px;
    overflow: hidden;
    width: 150px;
}

.cart-image-container {
    aspect-ratio: 1 / 1;
    background: #f9f9f9;
    display: block;
    height: 150px;
    margin-left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    width: 150px;
}

@media (min-width: 1024px) {
    .cart-lg\:gap-\[3px\] {
        gap: 3px;
    }
}

.list-sub-container {
    flex-direction: row;
    display: flex;
    gap: .75rem;
}

.cart-gap-\[2px\] {
    gap: 2px;
}

.cart-justify-evenly {
    justify-content: space-evenly;
}

.cart-flex-col {
    flex-direction: column;
}

.cart-flex {
    display: flex;
}

.cart-item-heading {
    color: var(--Black, #22211f);
    font-style: normal;
    font-family: Inter, sans-serif;
    font-weight: 500 !important;
    font-size: 14px !important;
}

.item-brand {
    color: var(--Black, #22211f);
    font-family: Inter, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    text-underline-offset: 2px;
    text-decoration-line: underline;
    letter-spacing: -.64px;
}

.item-option {
    color: #22211f;
    font-size: 13px;
    font-style: normal;
    font-family: Inter, Arial, sans-serif;
}

.cart-item-heading {
    font-size: 27px;
    font-weight: 300;
    letter-spacing: -.64px;
}

.cart-font-editorial {
    font-family: Editorialnew, sans-serif;
}

.cart-remove-button {
    color: #aaa59b;
    cursor: pointer;
    font-family: Inter, serif;
    justify-content: start;
    text-align: right;
    text-transform: capitalize;
    text-decoration: underline;
    text-underline-offset: 2px;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
}

.cart-item-price {
    color: var(--Black-40, #999);
    font-size: 15px;
    letter-spacing: -.4px;
}

.cart-font-inter {
    font-family: Inter, Arial, sans-serif;
}

.cart-cursor-pointer {
    cursor: pointer;
}

.cart-footer {
    background: #f5f2ee;
    box-sizing: border-box;
    display: flex;
    justify-content: start;
    padding: 24px;
    width: 100%;
}

@media screen and (max-width: 479px) {
    .cart-btn-start {
        padding-left: 25px;
        padding-right: 10px;
    }
}
